VITE_FIREBASE_API_KEY=AIzaSyBMVmWK63oIwTFGbFlk83CXElw8RCN7HKY
VITE_FIREBASE_AUTH_DOMAIN=data-zone-ghana.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=data-zone-ghana
VITE_FIREBASE_STORAGE_BUCKET=data-zone-ghana.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=646703313086
VITE_FIREBASE_APP_ID=1:646703313086:web:941679243ebd44fb0a2eef
VITE_FIREBASE_MEASUREMENT_ID=G-XYRRGDZ6RS
